/*! cookietool 1.0.0 (built 2015-06-12)
 *  Repository: https://github.com/ecoal95/CookieTool.git
 *  Author: Emilio Cobos <emiliocobos@usal.es> (http://emiliocobos.net)
 *  License: (MIT OR Apache-2.0) */


 /* botons */
 input[type="submit"],button[type="submit"],.cookietool-message button {
 	padding:.5em 2em;
 	text-align:center;
 	background-color:#006691;
 	text-transform:uppercase;
 	margin-top:auto;
 	border-radius:3px;
 	color:#fff;
 	font-weight:700;
 	border:none;
 }

 .cookietool-message button {
 	padding:2px 8px;
 	font-size:.75rem;
 }
 
.cookietool-message {
	position:fixed;
	width:100%;
	padding:.5em;
	text-align:center;
	background:rgba(255,255,255,0.9);
	border:0 solid #ccc;
	color:#444;
	box-shadow: 0 -4px 4px rgba(0,0,0,0.2);
	font-size: 0.875rem;
	z-index: 999999;
}

.cookietool-message-top {
	border-top-width:1px solid;
	bottom:0;
}

.cookietool-message p {
	margin:0 0 .5em;
	display: inline;
}
